@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans.woff);
  }
:root {
    --main-bg-color: #FFFFFF; /* основной белый фон */
    --secondary-bg-color: #888888; /*основной голубой фон*/
    --reactange-color: #81B3D2; /* небесно-голубые прямоугольники*/
    --blue-buttom-color-passive: #81B3D2; /* голубая кнопка */
    --blue-buttom-color-hover:#669EC0;
    --blue-buttom-color-active:#5496BD;
    --brown-buttom-color-passive: #766357; /*коричневая кнопка */
    --brown-buttom-color-hover:#604E43;
    --brown-buttom-color-active:#503E33;
    --grey-1-color: #EEEEEE; /* серый прямоугольник небольшая площадь--мало туристов */
    --grey-2-color: #F2F2F2; /* серые прямоугольники (все) меню с датами заезда перед картой */
    --black-font: #000000;
    --white-font: #FFFFFF;
    --brown-font: #766458; /* to the gordeous */
    --blue-font-universal: #81B3D2;
    --blue-font-for-welcome: #81B3D3; /* welcome */
    --icons-up-down-hover:#000000;
    --icons-up-down-active:#81B3D2;  
}

.content {
    width: 1200px; /*ширина всего сайта*/
    background-color: var(--main-bg-color);
    margin: 0 auto;
}
body {
    background-color: var(--secondary-bg-color);
    font-family: "PT Sans", "Tahoma", sans-serif;
}
.welcome {
    background-image: url("../img/images/background-photo.jpg");
}
.title-black {
    color: var(--black-font)
}
.title-white {
    color: var(--white-font); 
}
.title-white, .title-black {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase
}
.title-big-black { /*Заинтересовались?*/
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--black-font);
    text-transform: uppercase
}
.title-medium-black { /* Седона — небольшой городок в Аризоне, заслуживающий большего! #visitsedona, номер телефона*/
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--black-font);

}
.information-black {
    color: var(--black-font);
}
.information-white {
    color: var(--white-font);
}
.information-black, .information-white {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
.head-buttons { /*кнопки в хедере плюс даты заезда и тд над картой*/
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--black-font);
    text-transform: uppercase;
}
.sorting { /*сортировка */
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase; 
}
.sort-by { /* по цене etc */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--black-font);
    opacity: 0.3;
    text-transform: uppercase;
    text-decoration: underline;
}
.sort-by:hover { /* по цене etc */
    color: var(--blue-buttom-color-hover);
    opacity: 1;
    text-decoration: underline;
}
.sort-by:active { /* по цене etc */
    color: var(--black-font);
    opacity: 1;
    text-decoration: none;
}
.bg-blue {
    background-color: var(--reactange-color);
}
.bg-grey-1 {
    background-color: var(--grey-1-color)
}
.bg-grey-2 {
    background-color: var(--grey-2-color)
}
.icon-social-web {
    background-color: var(--blue-buttom-color-passive);
}
.icon-social-web:hover {
    background-color: var(--blue-buttom-color-hover);
}
.icon-social-web:active {
    background-color: var(--blue-buttom-color-active);
}
.buttons-for-hotels-brown {
    background-color: var(--brown-buttom-color-passive);
}
.buttons-for-hotels-brown:hover {
    background-color: var(--brown-buttom-color-hover);
}
.buttons-for-hotels-brown:active {
    background-color: var(--brown-buttom-color-active);
}
.buttons-for-hotels-blue {
    background-color: var(--blue-buttom-color-passive);
}
.buttons-for-hotels-blue:hover {
    background-color: var(--blue-buttom-color-hover);
}
.buttons-for-hotels-blue:active {
    background-color: var(--blue-buttom-color-active);
}