@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans.woff);
  }
:root {
    --main-bg-color: #FFFFFF; /* основной белый фон */
    --secondary-bg-color: #888888; /*основной голубой фон*/
    --reactange-color: #81B3D2; /* небесно-голубые прямоугольники*/
    --blue-buttom-color-passive: #81B3D2; /* голубая кнопка */
    --blue-buttom-color-hover:#669EC0;
    --blue-buttom-color-active:#5496BD;
    --brown-buttom-color-passive: #766357; /*коричневая кнопка*/
    --brown-buttom-color-hover:#604E43;
    --brown-buttom-color-active:#503E33;
    --grey-1-color: #EEEEEE; /* серый прямоугольник небольшая площадь--мало туристов */
    --grey-2-color: #F2F2F2; /* серые прямоугольники (все) меню с датами заезда перед картой */
    --black-font: #000000;
    --white-font: #FFFFFF;
    --brown-font: #766458; /* to the gordeous */
    --blue-font-universal: #81B3D2;
    --blue-font-for-welcome: #81B3D3; /* welcome */
    --icons-up-down-hover:#000000;
    --icons-up-down-active:#81B3D2;  
}

.content {
    width: 1200px; /*ширина всего сайта*/
    background-color: var(--main-bg-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: [col] auto [col] auto [col];
    grid-template-rows: [row] auto [row] auto [row]; 
}
header {
    grid-column: col 1 / span 3;
	grid-row: row 1;
}
main {
    grid-column: col 1 / span 3;
	grid-row: row 2;
}
footer {
    grid-column: col 1 / span 3;
    grid-row: row 3;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
}
body {
    background-color: var(--secondary-bg-color);
    font-family: "PT Sans", "Tahoma", sans-serif;
}
.menu {/*еда сувениры*/
    display: flex;
    height: 330px;
    justify-content: space-around;
    align-items: center;
    padding-left: 65px;
    padding-right: 65px;
}
.menu-item {
    display:flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
}
.menu-item > .information-black {
    text-align: center;
}
.info-picture {
    display: flex;
    height: 256px;
    flex-direction: row;
}
.info-picture-blue {
    display: flex;
    height: 256px;
    align-items: center;
    width: 33%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.welcome {
    background-image: url("../img/images/background-photo.jpg");
    width: 1200px;
    height: 509px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-text {
    width: 457;
    height: 351;
}
.introduction {
    display:flex;
    width: 1200px;
    height: 216px;
    flex-direction: column;
    align-items: center;  
}
.introduction-1 {
    display:flex;
    width: 470px;
    height: 80px;
    align-items: flex-start;
    text-align: center;
}
.introduction-2 {
    display:flex;
    width: 519px;
    height: 16px;
}
.about-data {
    display:flex;
    width: 1200px;
    height: 291px;
    align-items: center;
    justify-content: center;
}
.about-data-text {
    width: 435px;
    height: 155px;
    text-align: center;
    align-items: flex-start;
}
.title-black {
    color: var(--black-font)
}
.title-white {
    color: var(--white-font); 
}
.title-white, .title-black {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase
}
.title-big-black { /*Заинтересовались?*/
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--black-font);
    text-transform: uppercase;
}
.title-medium-black { /* Седона — небольшой городок в Аризоне, заслуживающий большего! #visitsedona, номер телефона*/
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--black-font);
    text-transform: uppercase;
}
.information-black {
    color: var(--black-font);
}
.information-white {
    color: var(--white-font);
}
.information-black, .information-white {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
.head-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.head-buttons-text { /*кнопки в хедере плюс даты заезда etc над картой*/
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--black-font);
    text-transform: uppercase;
}
.sorting { /*сортировка */
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase; 
}
.sort-by { /* по цене etc */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--black-font);
    opacity: 0.3;
    text-transform: uppercase;
    text-decoration: underline;
}
.sort-by:hover { /* по цене etc */
    color: var(--blue-buttom-color-hover);
    opacity: 1;
    text-decoration: underline;
}
.sort-by:active { /* по цене etc */
    color: var(--black-font);
    opacity: 1;
    text-decoration: none;
}
.bg-blue {
    background-color: var(--reactange-color);
}
.bg-grey-1 {
    background-color: var(--grey-1-color)
}
.bg-grey-2 {
    background-color: var(--grey-2-color)
}
.icon-social-web {
    background-color: var(--blue-buttom-color-passive);
}
.icon-social-web:hover {
    background-color: var(--blue-buttom-color-hover);
}
.icon-social-web:active {
    background-color: var(--blue-buttom-color-active);
}
.phone {
    flex-direction: column;
    width: 251px;
    text-align: center;
}
.social-webs {
    display: flex;
    flex-direction: row;
}
.social-web-buttons {
    display: flex;
    width: 46px;
    height: 48px;
    justify-content:center;
    align-items: center;
}
.button-facebook {
    margin-left: 6px;
    margin-right: 6px;
}
.website-by {
    text-transform: uppercase;
    height: 26px;
    text-align: center;
    margin-right: 10px;
}
.website {
    display: flex;
    align-items: center;
}
.buttons-for-hotels-brown {
    background-color: var(--brown-buttom-color-passive);
}
.buttons-for-hotels-brown:hover {
    background-color: var(--brown-buttom-color-hover);
}
.buttons-for-hotels-brown:active {
    background-color: var(--brown-buttom-color-active);
}
.buttons-for-hotels-blue {
    background-color: var(--blue-buttom-color-passive);
}
.buttons-for-hotels-blue:hover {
    background-color: var(--blue-buttom-color-hover);
}
.buttons-for-hotels-blue:active {
    background-color: var(--blue-buttom-color-active);
}
